body {
    background-color: black;
    text-align: center;
}
h1 {
    color: #454545;
    font-family:helvetica,arial;
    font-size:1500%;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
